.home{
    display: flex;
    height: 100vh;
    padding: 0px 0px;
}
.profile {
    background-color: white;
    width: 25%;
    padding-top: 30px; padding-left: 20px; padding-right: 20px;
    border-radius: 3px;
    box-shadow: rgba(71, 71, 71, 0.19) 0px 10px 10px, rgba(100, 99, 99, 0.23) 0px 3px 3px;;
}


.welcome {
    color:black;
}
hr{
    border: 1px solid #000;
}
.greeting {
    font-size: 25px;
    color: black;
    font-family: 'Raleway', sans-serif;
}

.pro {
    font-size: 14px;color: black;
    font-family:  'Raleway', sans-serif;
}

.msg-2{ color: gray; font-family: 'Raleway', sans-serif;}

.update-btn {
    padding: 5px 3px;
    background-color: white; color: black;
    border: 1px solid black; border-radius: 1px;
    cursor: pointer;margin-right: 10px;
    margin-bottom: 25px;
}
.update-btn:hover {color: white; background-color: rgb(41, 40, 40);  }

.auth-btn-modal {
    padding: 10px;
    margin: 15px 0px;
    width: 100%;
    font-size: 25px;
    background-color: rgb(99, 138, 243);
    color: white;
    border: 1px solid black;
    border-radius: 3px;
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
}
 
/* 
@media only screen and (max-width: 900px) {

    .profile {
        width: 80%;
    }
} 
@media only screen and (max-width: 700px) {

    .profile {
        width: 90%;
    }
}  */